<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="发布案例">
        <classes>
            <class name="TestCase.openURL"/>
            <class name="TestCase.ReleaseCase">
            </class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="商机/客户">
        <classes>
            <class name="TestCase.Client">
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="管理产品">
        <classes>
            <class name="TestCase.product">
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="登录忘记密码">
        <classes>
            <class name="TestCase.openURL"/>
            <class name="TestCase.Login"/>
            <class name="TestCase.forgetPWD">
            </class>
        </classes>
    </test>




</suite>